# Build results
bin/
obj/
*.user
*.rsuser
*.suo
*.cache
*.dbmdl

# Rider & JetBrains
.idea/
*.sln.iml

# Logs
*.log

# SQLite DB files
*.db
*.sqlite

# dotnet secrets & environment
secrets.json
.env
.env.*

# VS Code workspace settings (optional)
.vscode/

# HTTP test files
*.http

turbines.db*
